In [1]:
import pandas as pd
import numpy as np

# 교통량 데이터 병합

In [2]:
data1 = pd.read_csv('현대자동차수원서비스센터앞.csv')
data2 = pd.read_csv('한화생명원수원입구.csv')
data3 = pd.read_csv('한결앞.csv')
data4 = pd.read_csv('풍덕천교앞.csv')
data5 = pd.read_csv('죽전2동주민센터앞.csv')
data6 = pd.read_csv('용인효자병원3R.csv')
data7 = pd.read_csv('용인차량등록과앞.csv')
data8 = pd.read_csv('용인시청앞.csv')
data9 = pd.read_csv('용인포은아트홀건너편.csv')

In [3]:
data10 = pd.read_csv('장애인복지관5~.csv')
data11 = pd.read_csv('장애인복지관~4.csv')
data12 = pd.read_csv('죽전지하차돌출구~4.csv')
data13 = pd.read_csv('죽전지하차도출구5~.csv')
data14 = pd.read_csv('지곡동자봉마을~4.csv')
data15 = pd.read_csv('지곡동자봉마을5~.csv')

In [4]:
data10 = pd.concat([data10, data11], axis=0)
data10.reset_index(drop=True, inplace=True)
data11 = pd.concat([data12, data13], axis=0)
data11.reset_index(drop=True, inplace=True)
data12 = pd.concat([data14, data15], axis=0)
data12.reset_index(drop=True, inplace=True)

In [5]:
data12

,구분,~00,~01,~02,~03,~04,~05,~06,~07,~08,...,~15,~16,~17,~18,~19,~20,~21,~22,~23,합계
0,20231101 [지곡동:지봉마을(시청방면)],60,23,28,25,34,155,218,413,530,...,411,511,620,675,402,255,203,164,71,6899
1,20231101 [지곡동:지봉마을(이천방면)],63,52,43,36,55,134,375,920,1025,...,606,643,742,640,420,347,256,170,88,9808
2,20231102 [지곡동:지봉마을(시청방면)],61,39,29,27,37,150,246,405,491,...,455,534,646,669,405,302,228,149,94,7086
3,20231102 [지곡동:지봉마을(이천방면)],75,43,30,37,51,158,359,763,951,...,633,629,714,725,445,326,301,208,121,9611
4,20231103 [지곡동:지봉마을(시청방면)],59,35,30,26,44,147,247,379,513,...,424,527,690,640,431,259,209,166,81,7143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,20241025 [지곡동:지봉마을(이천방면)],77,36,38,34,40,135,368,752,993,...,604,682,813,663,429,366,271,228,116,10039
712,20241026 [지곡동:지봉마을(시청방면)],49,39,31,24,33,87,150,206,248,...,475,407,385,441,292,196,181,116,63,5854
713,20241026 [지곡동:지봉마을(이천방면)],80,49,36,37,45,123,212,309,580,...,641,700,677,523,388,357,332,186,97,8675
714,20241027 [지곡동:지봉마을(시청방면)],51,31,28,12,22,34,81,118,150,...,448,440,388,299,278,213,128,93,49,4798
715,20241027 [지곡동:지봉마을(이천방면)],69,32,29,31,43,74,146,194,277,...,447,498,445,331,312,218,215,116,75,5942

In [6]:
data10_1 = data10[data10['구분'].str.contains('장애인복지관앞\(성남방면\)', na=False)]
data10_2 = data10[data10['구분'].str.contains('장애인복지관앞\(용인방면\)', na=False)]

# Filtering for data11
data11_1 = data11[data11['구분'].str.contains('죽전지하차도출구\(성남방면\)', na=False)]
data11_2 = data11[data11['구분'].str.contains('죽전지하차도출구\(용인방면\)', na=False)]

# Filtering for data12
data12_1 = data12[data12['구분'].str.contains('지곡동:지봉마을\(시청방면\)', na=False)]
data12_2 = data12[data12['구분'].str.contains('지곡동:지봉마을\(이천방면\)', na=False)]

In [7]:
data10_1

,구분,~00,~01,~02,~03,~04,~05,~06,~07,~08,...,~15,~16,~17,~18,~19,~20,~21,~22,~23,합계
0,20240501 [장애인복지관앞(성남방면)],374,251,171,209,281,411,704,950,1213,...,1504,1449,1463,1232,1069,966,958,620,404,23218
2,20240502 [장애인복지관앞(성남방면)],288,188,147,161,295,751,1459,1608,1529,...,1508,1481,1609,1685,1258,1127,980,668,466,25496
4,20240503 [장애인복지관앞(성남방면)],362,229,185,161,312,723,1394,1511,1630,...,1549,1584,1700,1682,1349,1201,1137,846,593,26845
6,20240504 [장애인복지관앞(성남방면)],398,295,184,172,275,543,771,1040,1595,...,1561,1382,1531,1289,1070,1111,1097,760,442,24967
9,20240505 [장애인복지관앞(성남방면)],287,185,126,78,114,233,373,681,1083,...,1213,1235,1203,1069,812,691,602,381,169,18214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706,20240426 [장애인복지관앞(성남방면)],335,237,183,166,297,712,1353,1520,1747,...,1597,1603,1671,1718,1388,1180,1134,797,575,26502
708,20240427 [장애인복지관앞(성남방면)],417,295,198,193,250,512,774,1107,1530,...,1596,1417,1214,1282,1173,1144,1062,720,469,24658
710,20240428 [장애인복지관앞(성남방면)],314,218,145,103,148,281,500,836,1201,...,1495,1475,1342,1245,1170,1172,933,606,390,22324
712,20240429 [장애인복지관앞(성남방면)],258,181,161,146,322,829,1508,1469,1604,...,1457,1523,1582,1525,1222,966,867,586,447,24862
714,20240430 [장애인복지관앞(성남방면)],285,226,180,153,309,721,1379,1415,1566,...,1536,1586,1723,1634,1514,1073,1103,691,525,25513

In [8]:
data10 = data10_1
data11 = data10_2
data12 = data11_1
data13 = data11_2
data14 = data12_1
data15 = data12_1

In [9]:
# Define new column names
new_columns = ['지역'] + [f'{i}' for i in range(12)] + [f'{i}' for i in range(12, 24)] + ['합계']

# Assign new column names to the DataFrame
data1.columns = new_columns
data2.columns = new_columns
data3.columns = new_columns
data4.columns = new_columns
data5.columns = new_columns
data6.columns = new_columns
data7.columns = new_columns
data8.columns = new_columns
data9.columns = new_columns
data10.columns = new_columns
data11.columns = new_columns
data12.columns = new_columns
data13.columns = new_columns
data14.columns = new_columns
data15.columns = new_columns


# Check the updated column names
print("Updated columns:", data9.columns)

Updated columns: Index(['지역', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '합계'],
      dtype='object')

In [10]:
# Define the columns for the hours (excluding '지역' and '합계')
time_columns = data1.columns[1:-1]  # Assumes '지역' is the first and '합계' is the last column

# Melt each DataFrame in a loop
for i in range(1, 16):
    # Access each `data{i}` DataFrame and melt it
    df = globals()[f"data{i}"]
    melted_df = df.melt(id_vars=['지역', '합계'], value_vars=time_columns, 
                        var_name='시간', value_name='교통량')
    
    # Assign the melted DataFrame to `melted_data{i}`
    globals()[f"melted_data{i}"] = melted_df

# Print the reshaped DataFrame for melted_data9 as an example
print(melted_data15.head())

                           지역    합계 시간 교통량
0  20231101  [지곡동:지봉마을(시청방면)]  6899  0  60
1  20231102  [지곡동:지봉마을(시청방면)]  7086  0  61
2  20231103  [지곡동:지봉마을(시청방면)]  7143  0  59
3  20231104  [지곡동:지봉마을(시청방면)]  6061  0  72
4  20231105  [지곡동:지봉마을(시청방면)]  4583  0  57

In [11]:
for i in range(1, 16):
    # Generate the variable name dynamically
    df = globals()[f"melted_data{i}"]
    
    # Extract '날짜' and '지역명' from '지역' column using regex
    df[['날짜', '지역명']] = df['지역'].str.extract(r'(\d{8})\s+\[(.*?)\]')
    
    # Drop the original '지역' column
    df.drop(columns='지역', inplace=True)
    df.drop(columns='합계', inplace=True)
    df['시간'] = df['시간'].astype(int)
    df.sort_values(by=['날짜', '시간'], ascending=[True, True], inplace=True)
    df.reset_index(drop=True, inplace=True)

# Print the updated DataFrame
melted_data1

      시간   교통량        날짜                    지역명
0      0   485  20231101  현대자동차 수원서비스센터 앞(용인방면)
1      1   289  20231101  현대자동차 수원서비스센터 앞(용인방면)
2      2   195  20231101  현대자동차 수원서비스센터 앞(용인방면)
3      3   199  20231101  현대자동차 수원서비스센터 앞(용인방면)
4      4   356  20231101  현대자동차 수원서비스센터 앞(용인방면)
...   ..   ...       ...                    ...
8611  19  1528  20241027  현대자동차 수원서비스센터 앞(용인방면)
8612  20  1307  20241027  현대자동차 수원서비스센터 앞(용인방면)
8613  21  1109  20241027  현대자동차 수원서비스센터 앞(용인방면)
8614  22   843  20241027  현대자동차 수원서비스센터 앞(용인방면)
8615  23   510  20241027  현대자동차 수원서비스센터 앞(용인방면)

[8616 rows x 4 columns]

In [12]:
# Remove brackets from the '지역' column values for each melted_data DataFrame
for i in range(1, 16):
    df = globals()[f"melted_data{i}"]
    
    # Extract the first row's '지역' value and remove brackets
    location_name = df['지역명'].iloc[0].replace("[", "").replace("]", "")
    
    # Rename the '교통량' column to include the location name
    df.rename(columns={'교통량': f'{location_name}_교통량'}, inplace=True)
    
    # Optionally, drop the '지역' column if no longer needed
    df.drop(columns='지역명', inplace=True)
      # Ensure the '시간' column is treated as a string
    df['시간'] = df['시간'].astype(str)
    # Append '00' to '시간' values that are not equal to '0'
    df.loc[melted_data1['시간'] != '0', '시간'] += '00'
    
# Verify with melted_data1, for example
print(melted_data1.head())

    시간 현대자동차 수원서비스센터 앞(용인방면)_교통량        날짜
0    0                       485  20231101
1  100                       289  20231101
2  200                       195  20231101
3  300                       199  20231101
4  400                       356  20231101

In [13]:
melted_data1

        시간 현대자동차 수원서비스센터 앞(용인방면)_교통량        날짜
0        0                       485  20231101
1      100                       289  20231101
2      200                       195  20231101
3      300                       199  20231101
4      400                       356  20231101
...    ...                       ...       ...
8611  1900                      1528  20241027
8612  2000                      1307  20241027
8613  2100                      1109  20241027
8614  2200                       843  20241027
8615  2300                       510  20241027

[8616 rows x 3 columns]

In [14]:
# Create a list to store the DataFrames
dataframes_to_concat = [melted_data1]  # Start with melted_data1

# Loop through melted_data2 to melted_data9
for i in range(2, 16):
    # Access the DataFrame dynamically
    df = globals()[f'melted_data{i}']
    dataframes_to_concat.append(df)  # Add to the list

# Concatenate all DataFrames along the columns, aligning by '날짜'
merged_data = pd.concat(dataframes_to_concat, axis=1, join='outer')  # Use 'outer' to include all dates

# Remove duplicate columns
merged_data = merged_data.loc[:, ~merged_data.columns.duplicated()]

# Reset index if needed
merged_data.reset_index(drop=True, inplace=True)

# Identify the '날짜' and '시간' columns
date_column = '날짜'
time_column = '시간'
# First, include '날짜' and '시간', then add the rest of the columns
new_column_order = [date_column, time_column] + [col for col in merged_data.columns if col not in [date_column, time_column]]

# Reorder the DataFrame
merged_data = merged_data[new_column_order]

# Display the updated DataFrame
merged_data

,날짜,시간,현대자동차 수원서비스센터 앞(용인방면)_교통량,한화생명연수원 입구(판교방면)_교통량,한결 앞(광주방면)_교통량,풍덕천교 앞(수원방면)_교통량,죽전2동 주민센터 앞(수원방면)_교통량,용인효자병원3R(수원방면)_교통량,용인차량등록사업소 앞(수원방면)_교통량,용인시청앞(이천방면)_교통량,용인 포은아트홀 건너편(광주방면)_교통량,장애인복지관앞(성남방면)_교통량,장애인복지관앞(용인방면)_교통량,죽전지하차도출구(성남방면)_교통량,죽전지하차도출구(용인방면)_교통량,지곡동:지봉마을(시청방면)_교통량
0,20231101,0,485,307,239,508,505,120,211,300,476,287,431,366,560,60
1,20231101,100,289,202,159,331,285,68,139,195,291,237,318,274,362,23
2,20231101,200,195,150,119,210,220,56,109,134,196,186,213,219,265,28
3,20231101,300,199,101,118,203,233,61,118,107,178,154,174,179,168,25
4,20231101,400,356,197,200,264,310,82,139,188,269,291,183,329,255,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8611,20241027,1900,1528,NaN,NaN,1726,NaN,NaN,1147,756,1385,NaN,NaN,NaN,NaN,NaN
8612,20241027,2000,1307,NaN,NaN,1571,NaN,NaN,1000,709,1055,NaN,NaN,NaN,NaN,NaN
8613,20241027,2100,1109,NaN,NaN,1212,NaN,NaN,645,549,839,NaN,NaN,NaN,NaN,NaN
8614,20241027,2200,843,NaN,NaN,919,NaN,NaN,416,417,575,NaN,NaN,NaN,NaN,NaN
8615,20241027,2300,510,NaN,NaN,582,NaN,NaN,228,259,393,NaN,NaN,NaN,NaN,NaN

In [15]:
# Convert the '날짜' column to datetime for comparison
merged_data['날짜'] = pd.to_datetime(merged_data['날짜'], format='%Y%m%d')

# Create a mask for dates after '2024-09-30'
mask = merged_data['날짜'] <= '2024-09-30'

# Filter the DataFrame to keep only the desired rows
merged_data = merged_data[mask]

# Reset index if needed
merged_data.reset_index(drop=True, inplace=True)

# Display the updated DataFrame
merged_data

,날짜,시간,현대자동차 수원서비스센터 앞(용인방면)_교통량,한화생명연수원 입구(판교방면)_교통량,한결 앞(광주방면)_교통량,풍덕천교 앞(수원방면)_교통량,죽전2동 주민센터 앞(수원방면)_교통량,용인효자병원3R(수원방면)_교통량,용인차량등록사업소 앞(수원방면)_교통량,용인시청앞(이천방면)_교통량,용인 포은아트홀 건너편(광주방면)_교통량,장애인복지관앞(성남방면)_교통량,장애인복지관앞(용인방면)_교통량,죽전지하차도출구(성남방면)_교통량,죽전지하차도출구(용인방면)_교통량,지곡동:지봉마을(시청방면)_교통량
0,2023-11-01,0,485,307,239,508,505,120,211,300,476,287,431,366,560,60
1,2023-11-01,100,289,202,159,331,285,68,139,195,291,237,318,274,362,23
2,2023-11-01,200,195,150,119,210,220,56,109,134,196,186,213,219,265,28
3,2023-11-01,300,199,101,118,203,233,61,118,107,178,154,174,179,168,25
4,2023-11-01,400,356,197,200,264,310,82,139,188,269,291,183,329,255,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7987,2024-09-30,1900,2555,1523,1213,2150,1676,555,1479,1296,1600,992,1002,1312,1361,217
7988,2024-09-30,2000,2157,1293,912,1770,1585,432,916,1049,1341,888,914,1228,1385,166
7989,2024-09-30,2100,1875,1212,742,1502,1321,311,742,850,1139,802,860,1025,1349,133
7990,2024-09-30,2200,1438,744,626,1463,1096,207,559,640,930,542,791,699,1071,88
7991,2024-09-30,2300,874,472,406,817,736,148,336,444,651,308,460,492,580,59

# 날씨 데이터 병합

In [16]:
import pandas as pd
import os

# 파일 경로 설정
file_paths = [
    os.path.join(os.getcwd(), "영덕동_강수_202311_202409.csv"),
    os.path.join(os.getcwd(), "영덕동_강수형태_202311_202409.csv"),
    os.path.join(os.getcwd(), "영덕동_기온_202311_202409.csv"),
    os.path.join(os.getcwd(), "영덕동_습도_202311_202409.csv"),
    os.path.join(os.getcwd(), "영덕동_풍속_202311_202409.csv"),
    os.path.join(os.getcwd(), "영덕동_풍향_202311_202409.csv")
]

# CSV 파일을 읽고 데이터프레임 생성
data_frames = []
for i, file_path in enumerate(file_paths):
    df = pd.read_csv(file_path).dropna(axis=0)
    df = df.dropna(axis=0)
    df.columns = ['일', '시간', f'value_{i}']  # 열 이름 변경
    df['시간'] = df['시간'].astype(int)
    df.set_index(['일', '시간'], inplace=True)  # 인덱스를 'day', 'hour'로 설정
    data_frames.append(df)

# concat으로 모든 데이터프레임 병합
weather_df= pd.concat(data_frames, axis=1, join='outer').reset_index()  # 'day'와 'hour' 기준으로 병합

weather_df.columns = ['일', '시간', '강수', '강수형태', '기온', '습도', '풍속', '풍향']
# 첫 번째 instance인 merged_data1 생성 이후에 month 열 추가

# day 열이 정수형인지 확인하고 변환
weather_df['일'] = weather_df['일'].astype(int)

# month 열을 초기화
weather_df['월'] = 0

# 설정할 month 값의 순서 정의
month_values = [11, 12] + list(range(1, 10))

# 'day == 1'인 경우에 month 값을 설정하는 작업
month_index = 0
for idx in weather_df[(weather_df['일'] == 1) & (weather_df['시간'] == 0)].index:
    weather_df.loc[idx:, '월'] = month_values[month_index]
    month_index = (month_index + 1) % len(month_values)

weather_df['년'] = 2024

weather_df.loc[(weather_df['월'] == 11) | (weather_df['월'] == 12), '년'] = 2023

# Create the '날짜' column by combining 'year', 'month', and 'day'
weather_df['날짜'] = (
    weather_df['년'].astype(str).str.zfill(4) +  # Ensure year is 4 digits
    weather_df['월'].astype(str).str.zfill(2) +  # Ensure month is 2 digits
    weather_df['일'].astype(str).str.zfill(2)  # Ensure day is 2 digits
)

weather_df.drop(axis=1,columns=['일','월','년'],inplace=True)
# Convert the '날짜' column to datetime for comparison

weather_df['날짜'] = pd.to_datetime(weather_df['날짜'], format='%Y%m%d')

# Create a mask for dates after '2024-09-30'
mask = weather_df['날짜'] <= '2024-09-30'

# Filter the DataFrame to keep only the desired rows
weather_df = weather_df[mask]

# Reset index if needed
weather_df.reset_index(drop=True, inplace=True)

# Display the updated DataFrame
weather_df['시간'] = weather_df['시간'].astype(str)
weather_df

        시간   강수  강수형태         기온    습도   풍속     풍향         날짜
0        0  0.0   0.0  17.000000  85.0  0.8  103.0 2023-11-01
1      100  0.0   0.0  18.000000  83.0  0.7  102.0 2023-11-01
2      200  0.0   0.0  20.500000  76.0  1.4  176.0 2023-11-01
3      300  0.0   0.0  22.000000  70.0  1.6  251.0 2023-11-01
4      400  0.0   0.0  21.400000  72.0  0.9  267.0 2023-11-01
...    ...  ...   ...        ...   ...  ...    ...        ...
8035  1900  0.0   0.0  16.799999  98.0  0.8  120.0 2024-09-30
8036  2000  0.0   0.0  17.500000  96.0  0.4  124.0 2024-09-30
8037  2100  0.0   1.0  17.900000  93.0  0.3  135.0 2024-09-30
8038  2200  0.0   1.0  18.200001  94.0  1.2  125.0 2024-09-30
8039  2300  1.5   1.0  18.700001  96.0  0.3   90.0 2024-09-30

[8040 rows x 8 columns]

In [17]:
# Perform a right join on '날짜' and '시간' columns
merged_data = merged_data.merge(
    weather_df[['날짜', '시간', '강수', '강수형태', '기온', '습도', '풍속']],
    on=['날짜', '시간'],  # Columns to merge on
    how='left'  # Right join to keep all rows from weather_df
)

# Display the updated DataFrame
merged_data

,날짜,시간,현대자동차 수원서비스센터 앞(용인방면)_교통량,한화생명연수원 입구(판교방면)_교통량,한결 앞(광주방면)_교통량,풍덕천교 앞(수원방면)_교통량,죽전2동 주민센터 앞(수원방면)_교통량,용인효자병원3R(수원방면)_교통량,용인차량등록사업소 앞(수원방면)_교통량,용인시청앞(이천방면)_교통량,...,장애인복지관앞(성남방면)_교통량,장애인복지관앞(용인방면)_교통량,죽전지하차도출구(성남방면)_교통량,죽전지하차도출구(용인방면)_교통량,지곡동:지봉마을(시청방면)_교통량,강수,강수형태,기온,습도,풍속
0,2023-11-01,0,485,307,239,508,505,120,211,300,...,287,431,366,560,60,0.0,0.0,17.000000,85.0,0.8
1,2023-11-01,100,289,202,159,331,285,68,139,195,...,237,318,274,362,23,0.0,0.0,18.000000,83.0,0.7
2,2023-11-01,200,195,150,119,210,220,56,109,134,...,186,213,219,265,28,0.0,0.0,20.500000,76.0,1.4
3,2023-11-01,300,199,101,118,203,233,61,118,107,...,154,174,179,168,25,0.0,0.0,22.000000,70.0,1.6
4,2023-11-01,400,356,197,200,264,310,82,139,188,...,291,183,329,255,34,0.0,0.0,21.400000,72.0,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7987,2024-09-30,1900,2555,1523,1213,2150,1676,555,1479,1296,...,992,1002,1312,1361,217,0.0,0.0,16.799999,98.0,0.8
7988,2024-09-30,2000,2157,1293,912,1770,1585,432,916,1049,...,888,914,1228,1385,166,0.0,0.0,17.500000,96.0,0.4
7989,2024-09-30,2100,1875,1212,742,1502,1321,311,742,850,...,802,860,1025,1349,133,0.0,1.0,17.900000,93.0,0.3
7990,2024-09-30,2200,1438,744,626,1463,1096,207,559,640,...,542,791,699,1071,88,0.0,1.0,18.200001,94.0,1.2
7991,2024-09-30,2300,874,472,406,817,736,148,336,444,...,308,460,492,580,59,1.5,1.0,18.700001,96.0,0.3

# 전처리 과정 동일한 타 팀원들의 지역 데이터 병합

In [18]:
김형수_df = pd.read_csv('김형수.csv')
이지원_df = pd.read_csv('이지원.csv')
이지원_df.rename(columns={'day': '날짜', 'hour': '시간'}, inplace=True)
이지원_df['날짜'] = pd.to_datetime(이지원_df['날짜'], format='%Y%m%d')
이지원_df['시간'] = 이지원_df['시간'].astype(str)
이지원_df.loc[이지원_df['시간'] != '0', '시간'] += '00'
여채환_df = pd.read_csv('여채환.csv')
여채환_df.rename(columns={'day': '날짜', 'hour': '시간'}, inplace=True)
여채환_df['날짜'] = pd.to_datetime(여채환_df['날짜'], format='%Y%m%d')
여채환_df['시간'] = 여채환_df['시간'].astype(str)
여채환_df.loc[여채환_df['시간'] != '0', '시간'] += '00'

In [19]:
# Create a list to store the DataFrames
dataframes_to_concat = [merged_data]  # Start with merged_data

# Add 김형수_df and 이지원_df to the list
dataframes_to_concat.append(김형수_df)
dataframes_to_concat.append(이지원_df)
dataframes_to_concat.append(여채환_df)

# Concatenate all DataFrames along the columns, aligning by '날짜'
merged_data = pd.concat(dataframes_to_concat, axis=1, join='outer')  # Use 'outer' to include all dates

# Remove duplicate columns
merged_data = merged_data.loc[:, ~merged_data.columns.duplicated()]

In [20]:
merged_data

,날짜,시간,현대자동차 수원서비스센터 앞(용인방면)_교통량,한화생명연수원 입구(판교방면)_교통량,한결 앞(광주방면)_교통량,풍덕천교 앞(수원방면)_교통량,죽전2동 주민센터 앞(수원방면)_교통량,용인효자병원3R(수원방면)_교통량,용인차량등록사업소 앞(수원방면)_교통량,용인시청앞(이천방면)_교통량,...,동백터널(마성방면)_교통량,거영중기_광주방면_교통량,광교_상현IC_수원방면_교통량,광교_상현IC_죽전방면_교통량,기아자동차 앞_수원방면_교통량,동백궁앞_성남방면_교통량,동백궁앞_시청방면_교통량,동부아파트삼거리_수원방면_교통량,마북IC_동백방면_교통량,마북IC_성남방면_교통량
0,2023-11-01,0,485,307,239,508,505,120,211,300,...,151,233,330,379,476,335,336,263,160,160
1,2023-11-01,100,289,202,159,331,285,68,139,195,...,91,163,208,225,281,196,194,194,115,115
2,2023-11-01,200,195,150,119,210,220,56,109,134,...,76,147,172,171,221,179,148,154,92,92
3,2023-11-01,300,199,101,118,203,233,61,118,107,...,70,110,138,150,196,151,119,125,111,111
4,2023-11-01,400,356,197,200,264,310,82,139,188,...,176,194,274,269,254,237,195,192,159,159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7987,2024-09-30,1900,2555,1523,1213,2150,1676,555,1479,1296,...,783,1466,1704,1906,1847,2168,2069,1332,973,973
7988,2024-09-30,2000,2157,1293,912,1770,1585,432,916,1049,...,638,1173,1273,1589,1778,1665,1318,961,792,792
7989,2024-09-30,2100,1875,1212,742,1502,1321,311,742,850,...,551,880,1028,1319,1532,1379,1237,812,712,712
7990,2024-09-30,2200,1438,744,626,1463,1096,207,559,640,...,511,669,1000,977,1267,1028,979,680,473,473
7991,2024-09-30,2300,874,472,406,817,736,148,336,444,...,261,430,552,715,763,608,596,467,307,307

# 데이터 최종 산출

In [21]:
from datetime import datetime


# 주말과 명절을 위한 열 추가
merged_data['주말_명절'] = 0  # 기본값 0으로 설정

# 주말 체크 (토요일: 5, 일요일: 6)
merged_data.loc[merged_data['날짜'].dt.weekday >= 5, '주말_명절'] = 1

# 명절 날짜 리스트 (예시로 2023년과 2024년의 설날과 추석을 포함)
holidays = ['2023-01-21', '2023-01-22', '2023-01-23',  # 2023 설날
            '2023-09-28', '2023-09-29', '2023-09-30',  # 2023 추석
            '2024-02-09', '2024-02-10', '2024-02-11',  # 2024 설날
            '2024-09-16', '2024-09-17', '2024-09-18']  # 2024 추석
holidays = pd.to_datetime(holidays)

# 명절 날짜에 해당하는 경우 '주말_명절' 값을 1로 설정
merged_data.loc[merged_data['날짜'].isin(holidays), '주말_명절'] = 1

# 결과 확인
merged_data[['날짜', '주말_명절']]

             날짜  주말_명절
0    2023-11-01      0
1    2023-11-01      0
2    2023-11-01      0
3    2023-11-01      0
4    2023-11-01      0
...         ...    ...
7987 2024-09-30      0
7988 2024-09-30      0
7989 2024-09-30      0
7990 2024-09-30      0
7991 2024-09-30      0

[7992 rows x 2 columns]

In [22]:
merged_data.to_csv('교통량_날씨데이터.csv',encoding='utf-8-sig')

In [23]:
merged_data

,날짜,시간,현대자동차 수원서비스센터 앞(용인방면)_교통량,한화생명연수원 입구(판교방면)_교통량,한결 앞(광주방면)_교통량,풍덕천교 앞(수원방면)_교통량,죽전2동 주민센터 앞(수원방면)_교통량,용인효자병원3R(수원방면)_교통량,용인차량등록사업소 앞(수원방면)_교통량,용인시청앞(이천방면)_교통량,...,거영중기_광주방면_교통량,광교_상현IC_수원방면_교통량,광교_상현IC_죽전방면_교통량,기아자동차 앞_수원방면_교통량,동백궁앞_성남방면_교통량,동백궁앞_시청방면_교통량,동부아파트삼거리_수원방면_교통량,마북IC_동백방면_교통량,마북IC_성남방면_교통량,주말_명절
0,2023-11-01,0,485,307,239,508,505,120,211,300,...,233,330,379,476,335,336,263,160,160,0
1,2023-11-01,100,289,202,159,331,285,68,139,195,...,163,208,225,281,196,194,194,115,115,0
2,2023-11-01,200,195,150,119,210,220,56,109,134,...,147,172,171,221,179,148,154,92,92,0
3,2023-11-01,300,199,101,118,203,233,61,118,107,...,110,138,150,196,151,119,125,111,111,0
4,2023-11-01,400,356,197,200,264,310,82,139,188,...,194,274,269,254,237,195,192,159,159,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7987,2024-09-30,1900,2555,1523,1213,2150,1676,555,1479,1296,...,1466,1704,1906,1847,2168,2069,1332,973,973,0
7988,2024-09-30,2000,2157,1293,912,1770,1585,432,916,1049,...,1173,1273,1589,1778,1665,1318,961,792,792,0
7989,2024-09-30,2100,1875,1212,742,1502,1321,311,742,850,...,880,1028,1319,1532,1379,1237,812,712,712,0
7990,2024-09-30,2200,1438,744,626,1463,1096,207,559,640,...,669,1000,977,1267,1028,979,680,473,473,0
7991,2024-09-30,2300,874,472,406,817,736,148,336,444,...,430,552,715,763,608,596,467,307,307,0